<!-- <h1>StaticPages#about</h1> -->
<h2>Learn more about how to customize your cupcakes</h2>

<div >
  <%= image_tag("fireworks.svg", class:"img-responsive col-xs-12") %>
</div>

<!-- <p>Find me in app/views/static_pages/about.html.erb</p> -->
