<!-- <h1>StaticPages#contact</h1> -->
<h2>Contact us at: </h2>

<h4>Visit Us! Location: </h4>
<h4>Phone</h4>
<h4>Email</h4>

<div >
  <%= image_tag("chef.svg", class:"img-responsive col-xs-12") %>
</div>

<!-- <p>Find me in app/views/static_pages/contact.html.erb</p> -->
