<br>
<h1>Welcome to the Cupcake Shop</h1>
<h2>Where everything is a cupcake!</h2>

<div class="index-product-image">
  <%= image_tag("cupcake1.svg", class:"img-responsive col-xs-12") %>
</div>



<%#<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> %>
