<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
  <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;">
      <tr>
        <td align="center" bgcolor="#4CAFDA" style="padding: 40px 0 30px 0; font-size: 24px;">
          <img src="http://i.imgur.com/HqGp7n0.png" alt="TITLE GOES HERE" width="300" height="300" style="display: block;"/>
          <br>
          <b style="color: #153643;">Thanks for your order with <%= @appname %>.</b>
        </td>
      </tr>
      <tr> 
        <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
               <b>Here are the details: </b>
              </td>
            </tr>
            <tr>
              <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                <p></p>
              </td>
            </tr>

            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                        Dear <%= @user %>, enjoy the: 
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="http://i.imgur.com/T3pNLOa.png" alt="" width="100%" height="250" style="display: block; margin-top: 20; box-shadow: 0 0 18px #EAA22F; border-radius: 50%;"/>
                    </td>
                  </tr>
                  
                </table>
              </td>
              <td style="font-size: 0; line-height: 0;" width="20">
               &nbsp;
              </td> <!-- middle empty column -->
              <td width="260" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                      <%= @product %>!
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="http://i.imgur.com/yHhn1mV.png" alt="" width="100%" height="250" style="display: block; margin-top: 20; box-shadow: 0 0 18px #EAA22F; border-radius: 50%;"/>
                    </td>
                  </tr>
                  
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr> 
        </table>
        </td>

      </tr>
      <tr> 
        <td bgcolor="#FFC61B" style="padding: 30px 30px 30px 30px;">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td>
              <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
                   &reg; Cupcake Shop, Atlanta 2017
              </td>
              </td>
              <td>
              <td align="right">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="38" height="38" style="display: block;" border="0">
                     <a href="http://www.twitter.com/">
                      <img src="http://i.imgur.com/mWQ1Rlh.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
                     </a>
                    </td>
                    <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
                    <td width="38" height="38" style="display: block;" border="0">
                     <a href="http://www.facebook.com/">
                      <img src="http://i.imgur.com/cbcw9YS.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
                     </a>
                    </td>
                  </tr>
                </table>
              </td>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
