<br>
<div class="container-fluid">
<h1>Edit User</h1>

<%= render 'form', user: @user %>

<%= link_to @user, class: "btn btn-default" do %><span class="glyphicon glyphicon-user">Show</span>
<% end %>

<%= link_to users_path, class: "btn btn-default" do %><span class="glyphicon glyphicon-chevron-left">Back</span>
<% end %>
</div>