.body {
  font-family: 'Raleway', sans-serif;

}

.control-label {
  font-family: 'Raleway', sans-serif;
}

.field {
  font-family: 'Raleway', sans-serif;

}

.actions {
  font-family: 'Raleway', sans-serif;
}

.jumbo-log-in {
  font-family: 'Raleway', sans-serif;
}