// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  position: relative;
  padding-top: 2.0em; 
  font-family: 'Raleway', sans-serif; 
}

.navbar-fixed-top{
  height: 3.6em;
  background-color: #4CAFDA;
  box-shadow: 1px 1px 15px #888888;
}

.navbar-brand{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 4.313em;
  width: 4.313em;
}

#bs-example-navbar-collapse-1{
  margin-left: 4.286em;

}

ul li .nav .navbar-nav .pull-right {
  font-family: 'Raleway', sans-serif !important;
}
.form-group .form-control{
  font-family: 'Raleway', sans-serif;
}
.yum-btn{
  font-family: 'Raleway', sans-serif;
}
.navbar-default .navbar-nav li a{
  background-color: #4CAFDA !important;
  height: 3.6em;
  color: white;
  font-family: 'Raleway', sans-serif;
}

li.active a{
  color: white !important;
}


h1{
  color: #195670;
  font-family: 'Righteous', cursive;
  text-align: center;
  // padding-top: 2.0em; 
}

h2{
  color: #4CAFDA;
  font-family: 'Righteous', cursive;
  text-align: center;
  padding-top: 1.2em;
}

h4{
  font-family: 'Righteous', cursive;
  color: #195670; 
}

.container #footer-div{
  position: absolute;
  bottom: 0em;
}

.footer{
  // background-color: #F8F8F8;
  height: 3.6em;
}

ul .footer-text{
  // width: 75%;

}

ul.footer-text li{
  float: left;
  display: inline;
  height: 1.875em;
  width: 1.875em;
  padding: 0.3em;
}

ul.copyright li{
  float: right;
  display: inline;
  // width: 25%;
}

.carousel {
  margin: auto;
}

.carousel-inner img {
  margin: auto;
  padding-top: 5%;
}

.carousel-inner>.item {
  -webkit-transition: 0.5s ease-in-out left;
  -moz-transition   : 0.5s ease-in-out left;
  -o-transition     : 0.5s ease-in-out left;
  transition        : 0.5s ease-in-out left;
}

.carousel-caption {
  padding-bottom: 22%;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px #000000;
  color: #4CAFDA;
  font-family: 'Righteous', cursive;
  text-align: center;
  margin: auto;
}


.right.carousel-control, .left.carousel-control {
  opacity: 0;
  width: 18%;
}

.header-featured {
  padding: 1.250em;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  width: 70%;
  margin: auto;
}

.copyright li {
  font-family: 'Raleway', sans-serif;
}
// Contact Page
.send-btn{
  font-family: 'Raleway', sans-serif;
  
}

.form-group {
  font-family: 'Raleway', sans-serif;
}

#map {
  // height: 38.125em;
  // width: 100%;
  margin: 0;
  padding: 0;
}
.location{
  text-align: center;
  padding: 1em;
}

// About Page

.about-page {
  text-align: center;
}

h3.about-page{
  font-family: 'Righteous', cursive;
  color: #195670;
}

.chef-pic{
  padding-top: 4%;
}

.about-image{
  float: none;
  margin: 0 auto;
}