// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  position: relative;
  padding-top: 2.0em; 
}

.navbar-fixed-top{
  height: 3.6em;
  background-color: #4CAFDA;
  box-shadow: 1px 1px 15px #888888;
}

.navbar-brand{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 4.313em;
  width: 4.313em;
}

#bs-example-navbar-collapse-1{
  margin-left: 4.286em;
}

.navbar-default .navbar-nav li a{
  background-color: #4CAFDA !important;
  height: 3.6em;
}


h1{
  color: #195670;
  font-family: 'Righteous', cursive;
  text-align: center;
  // padding-top: 2.0em; 
}

h2{
  color: #4CAFDA;
  font-family: 'Righteous', cursive;
  text-align: center;
  padding-top: 1.2em;
}

.container #footer-div{
  position: absolute;
  bottom: 0em;
}

.footer{
  // background-color: #F8F8F8;
  height: 3.6em;
}

ul .footer-text{
  // width: 75%;

}

ul.footer-text li{
  float: left;
  display: inline;
  height: 1.875em;
  width: 1.875em;
  padding: 0.3em;
}

.copyright{
  float: right;
  display: inline;
  // width: 25%;
}

.carousel {
  margin: auto;
}
.carousel-inner img {
  margin: auto;
}
.carousel-caption {
  padding-bottom: 30%;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px #000000;
  color: #4CAFDA;
  font-family: 'Righteous', cursive;
  text-align: center;
}
.header-featured {
  padding: 1.250em;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;

}