<!-- Displays a form under a product if user is signed in -->
<% if signed_in? %>
  <p><strong>Add a review:</strong></p>
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p>
      <%= f.label :body, "Comments" %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <p><strong>Rating:</strong></p>
      <p class="rating indivProduct"></p>
    </p>
    <p>
      <%= f.submit "Submit", class: "btn btn-success" %>
    </p>
  <% end %>
<% end %>