<div class="container-fluid">
<h1>Edit Product</h1>

<%= render 'form', product: @product %>

<%= link_to @product, class: "btn btn-default" do %> 
  <span class="glyphicon glyphicon-search"> Show</span>
  <% end %>
  
<%= link_to products_path, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left"> Back</span>
  <% end %>
</div>