<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Products</h1>
  
  <div class="row">
    <%= link_to new_product_path, class: "btn btn-info" do %>
        <span class="glyphicon glyphicon-plus">New</span>
    <% end %>
  </div> <!-- /row -->
  <div class="row">
    <%= render @products %>
  </div> <!-- /row -->
</div> <!-- /container-fluid -->
<br>


